{eval global $starttime,$querynum;$mtime = explode(' ', microtime());$runtime=number_format($mtime[1] + $mtime[0] - $starttime,6); $setting=$this->setting;$user=$this->user;$headernavlist=$this->nav;$regular=$this->regular;}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>问题反馈</title>
<link href="{SITE_URL}css/default/ask.css" rel="stylesheet" type="text/css" />
{eval $toolbars="'".str_replace(",", "','", $setting['editor_toolbars'])."'";}
<script type="text/javascript">
    g_site_url='{SITE_URL}';
    g_prefix='{$setting['seo_prefix']}';
    g_suffix='{$setting['seo_suffix']}';
    editor_options={toolbars:[["Emotion","snapscreen","InsertImage","attachment","Map","Bold"]],wordCount:{$setting['editor_wordcount']},elementPathEnabled:{$setting['editor_elementpath']}};messcode='{$setting['code_message']}';</script>
<script type="text/javascript" src="{SITE_URL}js/jquery.js"></script>
<script type="text/javascript" src="{SITE_URL}js/dialog.js"></script>
<script type="text/javascript" src="{SITE_URL}js/common.js"></script>
<script type="text/javascript" src="{SITE_URL}js/ueditor/editor_config.js"></script>
<script type="text/javascript" src="{SITE_URL}js/ueditor/editor_all.js"></script>
<script type="text/javascript" src="{SITE_URL}js/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
<link rel="stylesheet" href="{SITE_URL}js/ueditor/themes/default/ueditor.css"/>
<link rel="stylesheet" href="{SITE_URL}js/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css"/>
<style type="text/css">
.left1{border:2px solid blue;}
.left1 input{font-size: 35px;
line-height: 60px;
height: 60px;width:480px;}

</style>

</head>
<body>
<div>
	<img src="{SITE_URL}css/common/appaskresult.jpg" style="margin: 0 auto;display: block;"/>
	<div style="margin: 0 auto;display: block;width:200px;">您的问题已经提交，我们将第一时间给您答复，并通过OQO客户端通知您，您可以<a href="{url api/appask}">返回</a>到提问页面。<a href="{url index/default}">了解更多</a></div>
</div>
</body>
</html>