<!--headertop-->
<div class="h_top" >
    <div class="logo" >
        <a href="{SITE_URL}" title="{$setting['site_name']}" target="_top"><img src="{SITE_URL}css/default/logo.png" alt="{$setting['site_name']}" /></a>
    </div>
    <div class="userbar">
        <!--{if 0!=$user['uid'] && {$user['avatar']}}-->
        <div class='gdfw'>
            <img src="{$user['avatar']}" />
        </div>
        <!--{/if}-->
        <div class='hyn'>
            <p>
                <!--{if 0!=$user['uid']}-->
                您好,<a href="{url user/default}"><b>{$user['username'].$user['isLogin']}</b></a>
                <!--{if $user['newmsg']>0}-->
                <span class="separe">&nbsp;|&nbsp;</span><a id="TopLink_MessageBox" href="{url message/new}" >消息(<span id="MessagesCount" style="color: rgb(255, 0, 0);font-weight:bold ;">{$user['newmsg']}</span>)</a>
                <!--{/if}-->
                <span class="separe">&nbsp;|&nbsp;</span><a href="{url user/default}">个人中心</a>
                <!--{if $user['groupid']<=3}-->
                <span class="separe">&nbsp;|&nbsp;</span><a href="{SITE_URL}index.php?admin_main">系统设置</a>
                <!--{/if}--> 
                <span class="separe">&nbsp;|&nbsp;</span><a href="{url user/logout}">退出</a> 
                <!--{else}-->
                您好，欢迎来{$setting['site_name']}！[<a  href="{url user/login}">请登录</a>] [<a  href="{url user/register}">免费注册</a>]
                <!--{/if}--></p>
            <!--{if 0!=$user['uid']}--><p>提问:{$user['questions']} | 回答:{$user['answers']}&nbsp;|&nbsp;用户组:{$user['grouptitle']}</p><!--{else}-->{if $setting['qqlogin_open'] && $setting['qqlogin_open']}<a href="#" onclick='toQzoneLogin()' title="QQ账号登陆" class="s4"><img src="{SITE_URL}css/default/Connect_logo_3.png"></a>{/if}<!--{/if}-->
        </div>

    </div>
    <div class="clr"></div>
</div>
